<div class="main_body">
   <div class="container">
      <div class="p-l">
         <h3>GRID VIEW</h3>
      </div>
      <div class="p-r">
         <button type="button" class="btn btn-warning"><a href="create">Create Recipe</a></button>
      </div>
   </div>
   <hr>
   <div class="row">
   	<div *ngFor="let recipe of recipesList" class="col-xs-6 col-sm-4 div_content" style="background-color:lavender;">
      	<span class="p-l"><b>{{recipe.recipe_name}}</b></span><span class="p-r" (click)="deleteRecipe(recipe.id)" data-toggle="tooltip" title="Delete Recipe"><img src="assets/img/trash_icon.png" alt="delete" ></span>
         <slideshow [imageUrls]="recipe.image_urls" [autoPlayInterval]="convertInt(recipe.recipe_due)" [height]="'200px'" ></slideshow>
         <!-- Duration:
         <div>{{recipe.recipe_due}}</div> -->
         Description:
      	<div style="max-width: 100px;">{{recipe.recipe_description}}</div>
   	</div>
   </div>
</div>