.main_body{
	margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

.div_content{
	margin: 10px 10px;
    height: 300px;
    max-width: 400px;
}

.container {
  overflow: hidden;
}

.p-r {
  float: right;
}

.p-l {
  float: left;
}
