.main_body{
	margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

.div_content{
	margin: 0px 10px;
}

.container {
  overflow: hidden;
}

.p-r {
  float: right;
}

.p-l {
  float: left;
}