<div class="main_body">
   <div class="container">
      <div class="p-l">
         <h3>GRID VIEW</h3>
      </div>
      <div class="p-r">
         <button type="button" class="btn btn-warning"><a href="create">Create Recipe</a></button>
      </div>
   </div>
   <hr>
   <div class="row">
   	<div class="col-xs-6 col-sm-3 div_content" style="background-color:lavender;">
   	Column 1<br>
   	Resize the browser window to see the effect. Also try to remove the div clearfix line and see what happens.
   	</div>
   	<div class="col-xs-6 col-sm-3 div_content" style="background-color:lavenderblush;">Column 2</div>
   	<div class="col-xs-6 col-sm-3 div_content" style="background-color:lightcyan;">Column 3</div>
   </div>
</div>